<footer>
    <ul id="footerlist">
        <h3 class="footerlist_title">Useful links</h3>
        <a href="https://github.com/guiliancd">Github</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Video tutorial</a>
    </ul>
</footer>
