@import "common.css";
@import "navbar.css";

:root {

    --chat-header-margin: 0.5rem;

}


main {
    height: 100vh;

    background-color: var(--light-color-light);
    color: var(--dark-color-median);
}

#chatlogin {
    padding-left: 3rem;
}

#chatmain {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;

    padding: 0;

    background-color: var(--dark-color-light);
}

#chatbox {
    padding: 0;
    margin: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
}

#chatform-container {
    margin-top: auto;

    padding: 20px 30px;
    background-color: var(--dark-color-median);
    
    display: flex;
}

#chatform-container form {
    display: flex;
    width: 100%;
}

#chatform input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

#chat {
    grid-column: 1;
    grid-row: 1;

    padding: 0.5rem;

    overflow-y: scroll;
    max-height: 100%;
}

#chat-container {
    --chat-container-size: calc(100vh - (2 * var(--chat-header-margin) + 1rem + 40px + calc(2 * 5px) + 1rem + calc(2 * 20px)));

    height: var(--chat-container-size);
    max-height: var(--chat-container-size);
}

#chatsidebar {
    grid-column: 2;
    grid-row: 1;

    background-color: var(--dark-color-lighter);
}

#chatform {
    background: none;
}

#chatheader {
    background-color: var(--dark-color-median);
    color: var(--default-color);

    display: flex;
    flex-direction: row-reverse;
}

#chatheader div {
    background-color: var(--dark-color-light);

    border-radius: 1rem;

    margin: var(--chat-header-margin) 0.5rem;

    height: fit-content;

    padding: 0;
}

#chatheader div p {
    margin: 0.5rem;

    font-size: 1.5rem;
}




.chatmessage {
    background-color: var(--dark-color-lightest);
    color: var(--dark-color-dark);

    /*padding: 0.2rem 0.5rem 0.5rem 0.5rem;*/
    padding: 0;

    margin: 0.5rem 0.25rem 0.5rem 0.25rem;

    border-radius: 0.25rem;

    overflow: hidden;
}

.chatmessage .userbox {
    display: flex;
    flex-direction: row;
}

.chatmessage .userbox * { 
    margin: 0.5rem;
    margin-bottom: 0;

    font-size: 1.25rem;
}

.chatmessage .userbox .messagesender{
    color: var(--light-color-dark);

    margin-left: 1rem;
}

.chatmessage .userbox .messagedate{
    color: #ccc;

    margin-left: 1rem;
}

.chatmessage .messagecontent {
    margin-left: 1rem;
}