<!DOCTYPE html>

<html>
    <head>
        <title>Chatting</title>

        <%- include('../partials/header'); %>
        <%- include('../partials/common_header'); %>
        
        <link rel="stylesheet" type="text/css" href="static/css/chat.css">
    </head>

    <body>

        <%- include('../partials/navbar'); %>

        <main id="chatloginmain">
            <div id="chatlogin">
                <h1>Login</h1>

                <form id="chatloginbox" action="/chat">
                    <label for="username">Username :</label>
                    <input type="text" name="username" required placeholder="Enter an username...">
                    <label for="room"> Room Name:</label>
                    <input type="text" name="room" value="cheesyhamburger" required>
                    
                    <button>Login</button>
                </form>
    
                <div id="chatlogintip">
                    <h2>Need help ?</h2>
    
                    <p>The login form above will take you to the chat after you entered an username.</p>
                </div>
            </div>
        </main>
    </body>

    <%- include('../partials/footer'); %>
</html>