<!DOCTYPE html>

<html>
    <head>
        <title>Chatting</title>

        <%- include('../partials/header'); %>
        <%- include('../partials/common_header'); %>
        
        <link rel="stylesheet" type="text/css" href="static/css/chat.css">
    </head>

    <body>

        <%- include('../partials/navbar'); %>

        <main id="chatmain">
            <div id="chatsidebar">

            </div>

            <div id="chatbox">
                <div id="chatheader">
                    <div id="chatheader-roomName">
                        <p id="room-name"></p>
                    </div>

                    <div id="chatheader-roomPeople">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" stroke-width="2.5" stroke="var(--icons-color)" fill="none" class="duration-300 transform transition-all" style="width: 48px; height: 48px;">
                            <circle cx="22.83" cy="22.57" r="7.51"></circle>
                            <path d="M38 49.94a15.2 15.2 0 00-15.21-15.2h0a15.2 15.2 0 00-15.2 15.2z"></path>
                            <circle cx="44.13" cy="27.22" r="6.05"></circle>
                            <path d="M42.4 49.94h14A12.24 12.24 0 0044.13 37.7h0a12.21 12.21 0 00-5.75 1.43"></path>
                        </svg>

                        <span id="numPeopleInRoom">1</span>
                    </div>
                </div>

                <div id="chat-container">
                    <div id="chat">
                    
                    </div>
                </div>
                
                
                <div id="chatform-container">
                    <form id="chatform">
                        <input type="text" id="message" required autocomplete="off" placeholder="Enter message...">

                        <button id="chatform-send">Send</button>
                    </form>
                </div>
            </div>

            

        </main>
    </body>

    <%- include('../partials/footer'); %>


    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
      integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="static/js/chat.js"></script>
</html>